[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/aws-test/vpc
EnvironmentFile=/home/ubuntu/aws-test/.venv/aws-test.env
ExecStart=/home/ubuntu/.local/bin/gunicorn \
        --workers 2 \
        --bind unix:/run/gunicorn.sock \
        --access-logfile /var/log/gunicorn/access.log \
        --access-logformat '{"remote_ip":"%(h)s","request_id":"%({X-Request-Id}i)s","response_code":"%(s)s","request_method":"%(m)s","request_path":"%(U)s","request_querystring":"%(q)s","request_timetaken":"%(M)sms","response_length":"%(B)s"}' \
        --error-logfile /var/log/gunicorn/error.log \
        config.wsgi.deploy
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target